* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header {
  padding: 35px 15px;
  height: 40px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  /*
      padding: 45px 15px;
      height: 40px;
      display: flex;
      align-items: normal;
      justify-content: space-between;*/
}

.header-tagline {
  font-size: 0.8em;
  opacity: 0.75;
  margin-left: 10px;
}
.header h1 {
  margin: 0;
  color: black;
}
.header-login-register {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.header-login-buttons {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

li {
  display: inline;
  list-style: none;
  border: 0.5px solid #444;
  padding: 5px 15px;
  border-radius: 5px;
  margin-left: 10px;
}

li:hover {
  cursor: pointer;
  background: #444;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  margin-left: 10px;
}

/*
    li:last-child {
      background: #444;
      color: white;
      padding: 5px 15px;
      border-radius: 15px;
      margin-left: 10px;
    }
    */

/*
      height: 40px;
      display: flex;
      align-items: normal;
      justify-content: space-between;
    */
header {
  margin-top: 90px;
  margin-bottom: 20px;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

.box {
  margin: 0 auto;
  background-color: white;
  width: 150px;
  height: 150px;
}

a {
  text-decoration: none;
  color: #444;
}

a:hover {
  cursor: pointer;
  color: white;
}
